@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: inherit;
}

body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
}

input {
    border-radius: 0.5rem;
    border: none;
}

input:focus {
    outline: none;
}

span {
    text-align: center;
}