<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hermes Playlist</title>

    <link rel="icon" type="image/png" href="/statics/images/icons/logo.ico" />
    <link rel="stylesheet" href="/statics/css/color-theme.css" />
    <link rel="stylesheet" href="/statics/css/global.css" />
    <link rel="stylesheet" href="/build/bundle.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <script src="./statics/js/initialize.js"></script>
    <script defer src="/build/bundle.js"></script>
</head>

<body></body>

</html>